.main {
    color: white;
    text-align: center;
}

.title {
    margin: 5vw;
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 5vw;
}

i {
    position: relative;
    display: inline-block;
    font-size: 1.0vw;
    padding-right: 0.1rem;
    color: #ffffff;
}

.logo {
    font-size: 5vw;
}

.title-skills {
    font-size: 1.5vw;
}

.name-skills {
    font-size: 1vw;
    font-style: italic;
}

.language-skills {
    font-size: 1.5vw;
    font-style: italic;
}

.filled {
    color: seagreen;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}