<div class="main container">
    <p class="title">PROJECTS</p>

    <ngb-carousel>
        <ng-template ngbSlide *ngFor="let p of projects; index as i">

            <div class="wrap carousel-size">
                <p class="profile">{{p.name}}</p>
                <p class="info-profile">{{p.description}}</p>
                <p class="info-profile" *ngIf="p.language">Programming Language: {{p.language}}</p>
                <div class="mb-3">
                    <button type="submit" class="btn btn-lg profile" (click)="openLink(p.html_url)">
                        <i class="bi bi-code-slash"></i>
                    </button>
                </div>
                <div class="mb-5">
                    <button *ngIf="p.homepage" type="submit" class="btn btn-lg profile" (click)="openLink(p.homepage)">
                        <i class="bi bi-window"></i>
                    </button>
                </div>
            </div>

        </ng-template>
    </ngb-carousel>

</div>