<div class="main">

    <p class="title">FILE TRANSFER PANEL SIMULATION</p>
    <img src="\assets\fileTransferPanel-1.png" class="img-fluid">
    <div class="row">
        <div class="col col-border">
            {{colOne}}
        </div>
        <div class="col col-border">
            {{colTwo}}
        </div>
        <div class="col">
            {{colThree}}
        </div>
    </div>

    <img src="\assets\fileTransferPanel-3.png" class="img-fluid">
    <div class="d-grid gap-2">
        <button type="button" class="btn btn-lg button-size" (click)="openLink()">
            <i class="bi bi-github"></i>
        </button>
    </div>
    <p class="desc-text">{{desc}}</p>
</div>