<div class="col-md-auto ">
    <div class="btn-group-vertical navbottom" role="group" aria-label="Vertical button group">
        <button type="button" class="btn btn-lg" (click)="openLink('https://www.linkedin.com/in/joannamariaklimek/')">
            <i class="bi bi-linkedin"></i>
        </button>
        <button type="button" class="btn btn-lg" (click)="openLink('https://github.com/joannamaria27')">
            <i class="bi bi-github"></i>
        </button>
        <button type="button" class="btn btn-lg" (click)="copy()">
            <i class="bi bi-envelope-at"></i>
        </button>
        <p class="left m-3">Joanna Maria Klimek</p>
    </div>
</div>