<div class="main">
    <p class="surname">Joanna&nbsp;Maria&nbsp;Klimek</p>
    <p class="profile"> Frontend / Backend Developer</p>
    <p class="info-profile">{{infoProfileEnglish}}</p>
    <p class="info-profile">Save my CV:
        <button type="button" class="btn btn-lg" (click)="downloadCV(cv,'Klimek_Joanna_CV')">
            <i class="profile bi bi-download"></i>
        </button>
        See my CV:
        <button type="button" class="btn btn-lg" (click)="openCV(cv)">
            <i class="profile bi bi-folder2-open"></i>
        </button>
    </p>
</div>