<div class="main">
    <p class="surname">Joanna&nbsp;Maria&nbsp;Klimek</p>
    <p class="profile"> Angular Frontend Developer</p>
    <p class="info-profile">{{infoProfileEnglish}}</p>
    <p class="info-profile">Save and open CV:
        <button type="button" class="btn btn-lg" (click)="downloadCV(cv,'Klimek_Joanna')">
            <i class="profile bi bi-download"></i>
        </button>
        Only open:
        <button type="button" class="btn btn-lg" (click)="openCV(cv)">
            <i class="profile bi bi-folder2-open"></i>
        </button>
    </p>
</div>