<div class="container-fluid">

    <div class="row justify-content-md-center">

        <div class="col">
            <ul ngbNav #nav="ngbNav" class="justify-content-end navbar-expand-lg navbar fs-6">
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/']" class="text-white">Me</a>
                </li>
                <!-- <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/skills']" class="text-white">Skills</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/education']" class="text-white">Education</a>
                </li> -->
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/projects']" class="text-white">Projects</a>
                </li>
                <!-- <li class="nav-item" ngbDropdown>
                    <a class="nav-link text-white" ngbDropdownToggle role="button">Projects</a>
                    <ul class="dropdown-menu-end dropdown-menu-dark" ngbDropdownMenu>
                        <li><a class="dropdown-item text-white" [routerLink]="['/projects']">All</a></li>
                        <li><a class="dropdown-item text-white" [routerLink]="['/project-one']">fileTransferPanel</a>
                        </li>
                        <li><a class="dropdown-item text-white" [routerLink]="['/project-one']">fileTransferPanel</a>
                        </li>
                        <li><a class="dropdown-item text-white" [routerLink]="['/project-one']">fileTransferPanel</a>
                        </li>
                    </ul>
                </li> -->
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/contact']" class="text-white">Contact</a>
                </li>

            </ul>

        </div>

    </div>
</div>