<div class="container-fluid ">

    <div class="row justify-content-md-center">

        <div class="col">
            <ul ngbNav #nav="ngbNav" class="justify-content-end navbar-expand-lg navbar fs-6">
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/']" class="text-white">Me</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink class="text-white">Skills</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink [routerLink]="['/education']" class="text-white">Education</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink class="text-white">Projects</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink class="text-white">Contact</a>
                </li>

            </ul>

        </div>

    </div>
</div>