<div class="main">
    <p class="title">E D U C A T I O N</p>

    <div class="right">
        <p class="university">Gdańsk University of Technology</p>
        <p class="date">2021 - 2022</p>

        <p class="course">Computer Science</p>
        <p class="course">Intelligent Interactive Systems</p>
        <i class="university bi bi-arrow-up"></i>

    </div>

    <hr>
    <div class="left">
        <i class="university bi bi-arrow-down"></i>
        <p class="university">Białystok University of Technology</p>
        <p class="date">2017 - 2021</p>

        <p class="course">Computer Science</p>
        <p class="course">IT and telecommunications</p>

        <p class="course">Bachelor of Science (B.S)</p>
    </div>

</div>