html,
body {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgb(68, 60, 109), rgb(119, 137, 216));
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: white;

}