.main {
    color: white;
    text-align: center;
}

.title {
    margin: 5vw;
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    font-size: 5vw;
    letter-spacing: 1.5px;
}

.profile {
    font-size: 1.5vw;
}

.info-profile {
    font-size: 1vw;
    margin-left: 10%;
    margin-right: 10%;
}

.info-profile-margin {
    font-size: 1vw;
    margin-left: 30%;
    margin-right: 30%;
}