<div class="main">
    <p class="title">CONTACT</p>
    <div class="container text-center">
        <div class="row align-items-start">
            <div class="col">
                <p class="profile">Contact</p>
                <div>
                    <P class="info-profile-margin">{{email}}</P>
                    <P class="info-profile-margin">{{phoneNumber}}</P>
                    <P class="info-profile-margin">{{city}}</P>
                </div>
            </div>
            <div class="col">
                <p class="profile">Text me</p>
                <div class="mb-3 info-profile">
                    <label for="exampleFormControlInput1" class="form-label">Email
                        address</label>
                    <input type="email" class="form-control mb-3 bg-transparent" id="exampleFormControlInput1" disabled>
                </div>
                <div class="mb-3 info-profile">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control bg-transparent" id="exampleFormControlTextarea1" rows="3"
                        disabled></textarea>
                </div>
                <div class="mb-3 info-profile">
                    <button type="submit" class="btn " disabled>
                        <i class="bi bi-send"></i>
                    </button>
                </div>
            </div>
            <div class="col">
                <p class="profile">Follow me</p>
                <div>
                    <P class="info-profile-margin">www.linkedin.com/in/joannamariaklimek/</P>
                    <P class="info-profile-margin">https://github.com/joannamaria27</P>

                </div>
            </div>
        </div>
    </div>
</div>